.home-charging-container {
  min-height: 100vh;
}
.home-charging-home-charging {
  width: 100%;
  height: 3716px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(245, 245, 245, 1);
}
.home-charging-gradient-rectangle-r-g-b {
  top: -171px;
  left: 1474px;
  width: 620px;
  height: 1057px;
  position: absolute;
  border-color: transparent;
}
.home-charging-rectangle13 {
  top: 2472px;
  left: 123px;
  width: 1580px;
  height: 578px;
  position: absolute;
  border-color: transparent;
  border-radius: 65px;
}
.home-charging-womantrunkwatch1 {
  top: 244px;
  left: 160px;
  width: 726px;
  height: 484px;
  position: absolute;
  border-color: transparent;
  border-radius: 5px;
}
.home-charging-group1 {
  top: 29px;
  left: 596px;
  width: 159px;
  height: 19px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.home-charging-text {
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Kallisto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-charging-group2 {
  top: 29px;
  left: 932px;
  width: 78px;
  height: 19px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.home-charging-text002 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Kallisto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-charging-group3 {
  top: 29px;
  left: 1169px;
  width: 107px;
  height: 19px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.home-charging-text004 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Kallisto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-charging-peblar-logo-gold-r-g-b1 {
  top: 18px;
  left: 160px;
  width: 99px;
  height: 40px;
  position: absolute;
  border-color: transparent;
}
.home-charging-hamburger11 {
  top: 23px;
  left: 1712px;
  width: 30px;
  height: 30px;
  position: absolute;
  border-color: transparent;
}
.home-charging-text006 {
  top: 796px;
  left: 160px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Kallisto;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-charging-text008 {
  top: 812px;
  left: 160px;
  color: rgba(0, 0, 0, 1);
  width: 208px;
  height: auto;
  position: absolute;
  font-size: 36px;
  align-self: auto;
  font-style: Light;
  text-align: center;
  font-family: Kallisto;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-charging-text010 {
  top: 366px;
  left: 1122px;
  color: rgba(0, 0, 0, 1);
  width: 414px;
  height: auto;
  position: absolute;
  font-size: 36px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Kallisto;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-charging-group13 {
  top: 824px;
  left: 481px;
  width: 303px;
  height: 34px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.home-charging-black-bar {
  top: 0px;
  left: 0px;
  width: 125px;
  height: 34px;
  position: absolute;
  border-color: transparent;
}
.home-charging-text012 {
  top: 7px;
  left: 8px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Kallisto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-charging-text014 {
  top: 7px;
  left: 175px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Kallisto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-charging-text016 {
  top: 644px;
  left: 1122px;
  color: rgba(0, 0, 0, 1);
  width: 475px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Eurostile LT Std;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-charging-rectangle20 {
  top: 930px;
  left: 2.2737367544323206e-13px;
  width: 1899px;
  height: 296px;
  position: absolute;
  border-color: transparent;
}
.home-charging-text018 {
  top: 1046px;
  left: 160px;
  color: rgba(243, 146, 7, 1);
  width: 395px;
  height: auto;
  position: absolute;
  font-size: 35px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Kallisto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-charging-text020 {
  top: 1025px;
  left: 160px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Eurostile;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-charging-text022 {
  top: 1049px;
  left: 1122px;
  color: rgba(0, 0, 0, 1);
  width: 475px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Eurostile LT Std;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-charging-text024 {
  top: 1477px;
  left: 163px;
  color: rgba(0, 0, 0, 1);
  width: 139px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Eurostile LT Std;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: underline;
}
.home-charging-text026 {
  top: 1302px;
  left: 160px;
  color: rgba(243, 146, 7, 1);
  width: 219px;
  height: auto;
  position: absolute;
  font-size: 70px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Kallisto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-charging-text028 {
  top: 1403px;
  left: 179px;
  color: rgba(0, 0, 0, 1);
  width: 148px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Light;
  text-align: center;
  font-family: Kallisto;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-charging-text030 {
  top: 1298px;
  left: 671px;
  color: rgba(243, 146, 7, 1);
  width: 50px;
  height: auto;
  position: absolute;
  font-size: 70px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Kallisto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-charging-text031 {
  top: 1403px;
  left: 614px;
  color: rgba(0, 0, 0, 1);
  width: 164px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Light;
  text-align: center;
  font-family: Kallisto;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-charging-text033 {
  top: 1298px;
  left: 1096px;
  color: rgba(243, 146, 7, 1);
  width: 189px;
  height: auto;
  position: absolute;
  font-size: 70px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Kallisto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-charging-text035 {
  top: 1403px;
  left: 1097px;
  color: rgba(0, 0, 0, 1);
  width: 187px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Light;
  text-align: center;
  font-family: Kallisto;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-charging-text037 {
  top: 1298px;
  left: 1556px;
  color: rgba(243, 146, 7, 1);
  width: 196px;
  height: auto;
  position: absolute;
  font-size: 70px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Kallisto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-charging-text039 {
  top: 1403px;
  left: 1569px;
  color: rgba(0, 0, 0, 1);
  width: 170px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Light;
  text-align: center;
  font-family: Kallisto;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-charging-footer {
  top: 3220px;
  left: 0px;
  width: 1900px;
  height: 496px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(0, 0, 0, 1);
}
.home-charging-text041 {
  top: 86px;
  left: 481px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Eurostile LT Std;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-charging-text043 {
  top: 139px;
  left: 482px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Eurostile LT Std;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-charging-text045 {
  top: 181px;
  left: 482px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Eurostile LT Std;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-charging-text047 {
  top: 223px;
  left: 482px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Eurostile LT Std;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-charging-text049 {
  top: 265px;
  left: 481px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Eurostile LT Std;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-charging-text051 {
  top: 456px;
  left: 85px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Eurostile LT Std;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-charging-text053 {
  top: 139px;
  left: 803px;
  color: rgba(255, 255, 255, 1);
  width: 75px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Eurostile LT Std;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-charging-text055 {
  top: 179px;
  left: 803px;
  color: rgba(255, 255, 255, 1);
  width: 70px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Eurostile LT Std;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-charging-text057 {
  top: 219px;
  left: 803px;
  color: rgba(255, 255, 255, 1);
  width: 52px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Eurostile LT Std;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-charging-text059 {
  top: 259px;
  left: 802px;
  color: rgba(255, 255, 255, 1);
  width: 37px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Eurostile LT Std;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-charging-text061 {
  top: 139px;
  left: 1122px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Eurostile LT Std;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-charging-text063 {
  top: 180px;
  left: 1122px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Eurostile LT Std;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-charging-text065 {
  top: 221px;
  left: 1122px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Eurostile LT Std;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-charging-text067 {
  top: 89px;
  left: 802px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Eurostile LT Std;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-charging-text069 {
  top: 89px;
  left: 1122px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Eurostile LT Std;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-charging-text071 {
  top: 92px;
  left: 1443px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Eurostile LT Std;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-charging-peblar-logodescriptor-grey1 {
  top: 56px;
  left: 85px;
  width: 222px;
  height: 60px;
  position: absolute;
  border-color: transparent;
}
.home-charging-facebook11 {
  top: 139px;
  left: 1445px;
  width: 20px;
  height: 35px;
  position: absolute;
  border-color: transparent;
}
.home-charging-twittersign11 {
  top: 139px;
  left: 1505px;
  width: 35px;
  height: 35px;
  position: absolute;
  border-color: transparent;
}
.home-charging-linkedin1 {
  top: 139px;
  left: 1655px;
  width: 35px;
  height: 35px;
  position: absolute;
  border-color: transparent;
}
.home-charging-instagram1 {
  top: 140px;
  left: 1580px;
  width: 35px;
  height: 35px;
  position: absolute;
  border-color: transparent;
}
.home-charging-text073 {
  top: 260px;
  left: 1122px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Eurostile LT Std;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-charging-text075 {
  top: 1690px;
  left: 160px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Eurostile LT Std;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-charging-text077 {
  top: 1723px;
  left: 160px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 35px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Kallisto;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-charging-text082 {
  top: 2524px;
  left: 203px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 35px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Kallisto;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-charging-line12 {
  top: 1592px;
  left: 160px;
  width: 1580px;
  height: 0px;
  opacity: 0.20;
  position: absolute;
}
.home-charging-line13 {
  top: 2329px;
  left: 160px;
  width: 1580px;
  height: 0px;
  opacity: 0.20;
  position: absolute;
}
.home-charging-text084 {
  top: 1730px;
  left: 737px;
  color: rgba(0, 0, 0, 1);
  width: 426px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Demi;
  text-align: left;
  font-family: Eurostile LT Std;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-charging-text097 {
  top: 2060px;
  left: 737px;
  color: rgba(0, 0, 0, 1);
  width: 426px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Demi;
  text-align: left;
  font-family: Eurostile LT Std;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-charging-text110 {
  top: 2060px;
  left: 1314px;
  color: rgba(0, 0, 0, 1);
  width: 426px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Demi;
  text-align: left;
  font-family: Eurostile LT Std;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-charging-text123 {
  top: 1730px;
  left: 1313px;
  color: rgba(0, 0, 0, 1);
  width: 427px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Demi;
  text-align: left;
  font-family: Eurostile LT Std;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-charging-text128 {
  font-weight: 300;
}
.home-charging-w-l-a-c-homeconnectedtransparant0 {
  top: 2573px;
  left: 814px;
  width: 284px;
  height: 396px;
  position: absolute;
  border-color: transparent;
}
.home-charging-w-l-a-c-homeconnected-sidefronttransparant0 {
  top: 2573px;
  left: 1402px;
  width: 244px;
  height: 439px;
  position: absolute;
  border-color: transparent;
}
.home-charging-group11 {
  top: 2952px;
  left: 430px;
  width: 157px;
  height: 34px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.home-charging-black-bar1 {
  top: 0px;
  left: 0px;
  width: 157px;
  height: 34px;
  position: absolute;
  border-color: transparent;
}
.home-charging-text136 {
  top: 8px;
  left: 9.420000076293945px;
  color: rgba(255, 255, 255, 1);
  width: 145px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Kallisto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-charging-guarantee1 {
  top: 2655px;
  left: 203px;
  width: 35px;
  height: 35px;
  position: absolute;
  border-color: transparent;
}
.home-charging-text138 {
  top: 2664px;
  left: 263px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Eurostile LT Std;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-charging-text140 {
  top: 2761px;
  left: 263px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Eurostile LT Std;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-charging-text142 {
  top: 2858px;
  left: 263px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Eurostile LT Std;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-charging-protest1 {
  top: 2752px;
  left: 203px;
  width: 35px;
  height: 35px;
  position: absolute;
  border-color: transparent;
}
.home-charging-collaboration1 {
  top: 2849px;
  left: 203px;
  width: 35px;
  height: 35px;
  position: absolute;
  border-color: transparent;
}
.home-charging-text144 {
  top: 2960px;
  left: 273px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Kallisto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-charging-rectangle49 {
  top: 824px;
  left: 647px;
  width: 145px;
  height: 34px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.home-charging-rectangle50 {
  top: 2952px;
  left: 258px;
  width: 145px;
  height: 34px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.home-charging-white-line-rectangle {
  top: 268px;
  left: 1048px;
  width: 561px;
  height: 328px;
  position: absolute;
  border-color: transparent;
}
