.support-user-my-charger-any-charger-container {
  min-height: 100vh;
}
.support-user-my-charger-any-charger-support-user-my-charger-any-charger {
  width: 100%;
  height: 2103px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(245, 245, 245, 1);
}
.support-user-my-charger-any-charger-group1 {
  top: 29px;
  left: 596px;
  width: 159px;
  height: 19px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.support-user-my-charger-any-charger-text {
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Kallisto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.support-user-my-charger-any-charger-group2 {
  top: 29px;
  left: 932px;
  width: 78px;
  height: 19px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.support-user-my-charger-any-charger-text02 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Kallisto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.support-user-my-charger-any-charger-group3 {
  top: 29px;
  left: 1169px;
  width: 107px;
  height: 19px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.support-user-my-charger-any-charger-text04 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Kallisto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.support-user-my-charger-any-charger-peblar-logo-gold-r-g-b1 {
  top: 18px;
  left: 160px;
  width: 99px;
  height: 40px;
  position: absolute;
  border-color: transparent;
}
.support-user-my-charger-any-charger-hamburger11 {
  top: 23px;
  left: 1712px;
  width: 30px;
  height: 30px;
  position: absolute;
  border-color: transparent;
}
.support-user-my-charger-any-charger-footer {
  top: 1607px;
  left: 0px;
  width: 1900px;
  height: 496px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(0, 0, 0, 1);
}
.support-user-my-charger-any-charger-text06 {
  top: 86px;
  left: 481px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Eurostile LT Std;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.support-user-my-charger-any-charger-text08 {
  top: 139px;
  left: 482px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Eurostile LT Std;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.support-user-my-charger-any-charger-text10 {
  top: 181px;
  left: 482px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Eurostile LT Std;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.support-user-my-charger-any-charger-text12 {
  top: 223px;
  left: 482px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Eurostile LT Std;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.support-user-my-charger-any-charger-text14 {
  top: 265px;
  left: 481px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Eurostile LT Std;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.support-user-my-charger-any-charger-text16 {
  top: 456px;
  left: 85px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Eurostile LT Std;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.support-user-my-charger-any-charger-text18 {
  top: 139px;
  left: 803px;
  color: rgba(255, 255, 255, 1);
  width: 75px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Eurostile LT Std;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.support-user-my-charger-any-charger-text20 {
  top: 179px;
  left: 803px;
  color: rgba(255, 255, 255, 1);
  width: 70px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Eurostile LT Std;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.support-user-my-charger-any-charger-text22 {
  top: 219px;
  left: 803px;
  color: rgba(255, 255, 255, 1);
  width: 52px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Eurostile LT Std;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.support-user-my-charger-any-charger-text24 {
  top: 259px;
  left: 802px;
  color: rgba(255, 255, 255, 1);
  width: 37px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Eurostile LT Std;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.support-user-my-charger-any-charger-text26 {
  top: 139px;
  left: 1122px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Eurostile LT Std;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.support-user-my-charger-any-charger-text28 {
  top: 180px;
  left: 1122px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Eurostile LT Std;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.support-user-my-charger-any-charger-text30 {
  top: 221px;
  left: 1122px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Eurostile LT Std;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.support-user-my-charger-any-charger-text32 {
  top: 89px;
  left: 802px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Eurostile LT Std;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.support-user-my-charger-any-charger-text34 {
  top: 89px;
  left: 1122px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Eurostile LT Std;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.support-user-my-charger-any-charger-text36 {
  top: 92px;
  left: 1443px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Eurostile LT Std;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.support-user-my-charger-any-charger-peblar-logodescriptor-grey1 {
  top: 56px;
  left: 85px;
  width: 222px;
  height: 60px;
  position: absolute;
  border-color: transparent;
}
.support-user-my-charger-any-charger-facebook11 {
  top: 139px;
  left: 1445px;
  width: 20px;
  height: 35px;
  position: absolute;
  border-color: transparent;
}
.support-user-my-charger-any-charger-twittersign11 {
  top: 139px;
  left: 1505px;
  width: 35px;
  height: 35px;
  position: absolute;
  border-color: transparent;
}
.support-user-my-charger-any-charger-linkedin1 {
  top: 139px;
  left: 1655px;
  width: 35px;
  height: 35px;
  position: absolute;
  border-color: transparent;
}
.support-user-my-charger-any-charger-instagram1 {
  top: 140px;
  left: 1580px;
  width: 35px;
  height: 35px;
  position: absolute;
  border-color: transparent;
}
.support-user-my-charger-any-charger-text38 {
  top: 147px;
  left: 821px;
  color: rgba(243, 146, 7, 1);
  height: auto;
  position: absolute;
  font-size: 48px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Kallisto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.support-user-my-charger-any-charger-text40 {
  top: 279px;
  left: 160px;
  color: rgba(0, 0, 0, 1);
  width: 566px;
  height: auto;
  position: absolute;
  font-size: 36px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Kallisto;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.support-user-my-charger-any-charger-text42 {
  top: 830px;
  left: 160px;
  color: rgba(0, 0, 0, 1);
  width: 217px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Kallisto;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.support-user-my-charger-any-charger-text44 {
  top: 279px;
  left: 1205px;
  color: rgba(0, 0, 0, 1);
  width: 427px;
  height: auto;
  position: absolute;
  font-size: 36px;
  align-self: auto;
  font-style: Light;
  text-align: center;
  font-family: Kallisto;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.support-user-my-charger-any-charger-text46 {
  top: 398px;
  left: 160px;
  color: rgba(0, 0, 0, 1);
  width: 577px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Eurostile LT Std;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: underline;
}
.support-user-my-charger-any-charger-line12 {
  top: 476px;
  left: 162px;
  width: 575px;
  height: 0px;
  opacity: 0.20;
  position: absolute;
}
.support-user-my-charger-any-charger-line19 {
  top: 973px;
  left: 971px;
  width: 575px;
  height: 0px;
  opacity: 0.20;
  position: absolute;
}
.support-user-my-charger-any-charger-text51 {
  top: 503px;
  left: 160px;
  color: rgba(0, 0, 0, 1);
  width: 577px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Eurostile LT Std;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: underline;
}
.support-user-my-charger-any-charger-line16 {
  top: 581px;
  left: 162px;
  width: 575px;
  height: 0px;
  opacity: 0.20;
  position: absolute;
}
.support-user-my-charger-any-charger-text56 {
  top: 608px;
  left: 160px;
  color: rgba(0, 0, 0, 1);
  width: 577px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Eurostile LT Std;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: underline;
}
.support-user-my-charger-any-charger-line17 {
  top: 686px;
  left: 162px;
  width: 575px;
  height: 0px;
  opacity: 0.20;
  position: absolute;
}
.support-user-my-charger-any-charger-text61 {
  top: 713px;
  left: 160px;
  color: rgba(0, 0, 0, 1);
  width: 577px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Eurostile LT Std;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: underline;
}
.support-user-my-charger-any-charger-line18 {
  top: 791px;
  left: 162px;
  width: 575px;
  height: 0px;
  opacity: 0.20;
  position: absolute;
}
.support-user-my-charger-any-charger-rectangle40 {
  top: 439px;
  left: 1205px;
  width: 427px;
  height: 54px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 7px;
}
.support-user-my-charger-any-charger-text66 {
  top: 456px;
  left: 1223px;
  color: rgba(0, 0, 0, 1);
  width: 111px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Kallisto;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.support-user-my-charger-any-charger-rectangle41 {
  top: 529px;
  left: 1205px;
  width: 427px;
  height: 54px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 7px;
}
.support-user-my-charger-any-charger-text68 {
  top: 546px;
  left: 1223px;
  color: rgba(0, 0, 0, 1);
  width: 114px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Kallisto;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.support-user-my-charger-any-charger-rectangle42 {
  top: 619px;
  left: 1205px;
  width: 427px;
  height: 54px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 7px;
}
.support-user-my-charger-any-charger-text70 {
  top: 636px;
  left: 1223px;
  color: rgba(0, 0, 0, 1);
  width: 114px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Kallisto;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.support-user-my-charger-any-charger-rectangle43 {
  top: 709px;
  left: 1205px;
  width: 427px;
  height: 54px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 7px;
}
.support-user-my-charger-any-charger-text72 {
  top: 726px;
  left: 1223px;
  color: rgba(0, 0, 0, 1);
  width: 160px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Kallisto;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.support-user-my-charger-any-charger-rectangle44 {
  top: 799px;
  left: 1205px;
  width: 427px;
  height: 54px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 7px;
}
.support-user-my-charger-any-charger-text74 {
  top: 816px;
  left: 1223px;
  color: rgba(0, 0, 0, 1);
  width: 160px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Kallisto;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.support-user-my-charger-any-charger-rectangle45 {
  top: 889px;
  left: 1205px;
  width: 427px;
  height: 54px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 7px;
}
.support-user-my-charger-any-charger-rectangle47 {
  top: 1229px;
  left: 1205px;
  width: 144px;
  height: 33px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 7px;
}
.support-user-my-charger-any-charger-rectangle48 {
  top: 1288px;
  left: 1213px;
  width: 19px;
  height: 19px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
}
.support-user-my-charger-any-charger-text76 {
  top: 906px;
  left: 1223px;
  color: rgba(0, 0, 0, 1);
  width: 160px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Kallisto;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.support-user-my-charger-any-charger-rectangle46 {
  top: 979px;
  left: 1205px;
  width: 427px;
  height: 227px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 7px;
}
.support-user-my-charger-any-charger-text78 {
  top: 996px;
  left: 1223px;
  color: rgba(0, 0, 0, 1);
  width: 262px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Kallisto;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.support-user-my-charger-any-charger-text80 {
  top: 1236px;
  left: 1214px;
  color: rgba(0, 0, 0, 1);
  width: 127px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Light;
  text-align: center;
  font-family: Kallisto;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.support-user-my-charger-any-charger-text82 {
  top: 1288px;
  left: 1240px;
  color: rgba(0, 0, 0, 1);
  width: 357px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Kallisto;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.support-user-my-charger-any-charger-group11 {
  top: 1351px;
  left: 1205px;
  width: 108.92308044433594px;
  height: 44.087913513183594px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.support-user-my-charger-any-charger-black-bar {
  top: 0px;
  left: 0px;
  width: 109px;
  height: 44px;
  position: absolute;
  border-color: transparent;
}
.support-user-my-charger-any-charger-text84 {
  top: 9px;
  left: 12px;
  color: rgba(255, 255, 255, 1);
  width: 84px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Kallisto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.support-user-my-charger-any-charger-text86 {
  top: 1867px;
  left: 1122px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Eurostile LT Std;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
