.support-installer-container {
  min-height: 100vh;
}
.support-installer-support-installer {
  width: 100%;
  height: 1373px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(245, 245, 245, 1);
}
.support-installer-group1 {
  top: 29px;
  left: 596px;
  width: 159px;
  height: 19px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.support-installer-text {
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Kallisto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.support-installer-group2 {
  top: 29px;
  left: 932px;
  width: 78px;
  height: 19px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.support-installer-text02 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Kallisto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.support-installer-group3 {
  top: 29px;
  left: 1169px;
  width: 107px;
  height: 19px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.support-installer-text04 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Kallisto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.support-installer-peblar-logo-gold-r-g-b1 {
  top: 18px;
  left: 160px;
  width: 99px;
  height: 40px;
  position: absolute;
  border-color: transparent;
}
.support-installer-hamburger11 {
  top: 23px;
  left: 1712px;
  width: 30px;
  height: 30px;
  position: absolute;
  border-color: transparent;
}
.support-installer-footer {
  top: 877px;
  left: 0px;
  width: 1900px;
  height: 496px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(0, 0, 0, 1);
}
.support-installer-text06 {
  top: 86px;
  left: 481px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Eurostile LT Std;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.support-installer-text08 {
  top: 139px;
  left: 482px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Eurostile LT Std;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.support-installer-text10 {
  top: 181px;
  left: 482px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Eurostile LT Std;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.support-installer-text12 {
  top: 223px;
  left: 482px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Eurostile LT Std;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.support-installer-text14 {
  top: 265px;
  left: 481px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Eurostile LT Std;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.support-installer-text16 {
  top: 456px;
  left: 85px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Eurostile LT Std;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.support-installer-text18 {
  top: 139px;
  left: 803px;
  color: rgba(255, 255, 255, 1);
  width: 75px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Eurostile LT Std;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.support-installer-text20 {
  top: 179px;
  left: 803px;
  color: rgba(255, 255, 255, 1);
  width: 70px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Eurostile LT Std;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.support-installer-text22 {
  top: 219px;
  left: 803px;
  color: rgba(255, 255, 255, 1);
  width: 52px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Eurostile LT Std;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.support-installer-text24 {
  top: 259px;
  left: 802px;
  color: rgba(255, 255, 255, 1);
  width: 37px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Eurostile LT Std;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.support-installer-text26 {
  top: 139px;
  left: 1122px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Eurostile LT Std;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.support-installer-text28 {
  top: 180px;
  left: 1122px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Eurostile LT Std;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.support-installer-text30 {
  top: 221px;
  left: 1122px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Eurostile LT Std;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.support-installer-text32 {
  top: 89px;
  left: 802px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Eurostile LT Std;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.support-installer-text34 {
  top: 89px;
  left: 1122px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Eurostile LT Std;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.support-installer-text36 {
  top: 92px;
  left: 1443px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Eurostile LT Std;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.support-installer-peblar-logodescriptor-grey1 {
  top: 56px;
  left: 85px;
  width: 222px;
  height: 60px;
  position: absolute;
  border-color: transparent;
}
.support-installer-facebook11 {
  top: 139px;
  left: 1445px;
  width: 20px;
  height: 35px;
  position: absolute;
  border-color: transparent;
}
.support-installer-twittersign11 {
  top: 139px;
  left: 1505px;
  width: 35px;
  height: 35px;
  position: absolute;
  border-color: transparent;
}
.support-installer-linkedin1 {
  top: 139px;
  left: 1655px;
  width: 35px;
  height: 35px;
  position: absolute;
  border-color: transparent;
}
.support-installer-instagram1 {
  top: 140px;
  left: 1580px;
  width: 35px;
  height: 35px;
  position: absolute;
  border-color: transparent;
}
.support-installer-text38 {
  top: 147px;
  left: 821px;
  color: rgba(243, 146, 7, 1);
  height: auto;
  position: absolute;
  font-size: 48px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Kallisto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.support-installer-text40 {
  top: 279px;
  left: 160px;
  color: rgba(0, 0, 0, 1);
  width: 247px;
  height: auto;
  position: absolute;
  font-size: 36px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Kallisto;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.support-installer-rectangle30 {
  top: 386px;
  left: 160px;
  width: 248px;
  height: 260px;
  position: absolute;
  border-color: rgba(243, 146, 7, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 25px;
}
.support-installer-rectangle31 {
  top: 386px;
  left: 493px;
  width: 248px;
  height: 260px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 25px;
}
.support-installer-rectangle32 {
  top: 386px;
  left: 826px;
  width: 248px;
  height: 260px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 25px;
}
.support-installer-text42 {
  top: 492px;
  left: 160px;
  color: rgba(243, 146, 7, 1);
  width: 248px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Demi;
  text-align: center;
  font-family: Eurostile LT Std;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.support-installer-text47 {
  top: 492px;
  left: 493px;
  color: rgba(0, 0, 0, 1);
  width: 248px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Eurostile LT Std;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.support-installer-text52 {
  top: 504px;
  left: 865px;
  color: rgba(0, 0, 0, 1);
  width: 170px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Eurostile LT Std;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.support-installer-rectangle35 {
  top: 386px;
  left: 1159px;
  width: 248px;
  height: 260px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 25px;
}
.support-installer-rectangle36 {
  top: 386px;
  left: 1492px;
  width: 248px;
  height: 260px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 25px;
}
.support-installer-text54 {
  top: 492px;
  left: 1159px;
  color: rgba(0, 0, 0, 1);
  width: 248px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Eurostile LT Std;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.support-installer-text59 {
  top: 504px;
  left: 1492px;
  color: rgba(0, 0, 0, 1);
  width: 248px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Eurostile LT Std;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.support-installer-text61 {
  top: 1137px;
  left: 1122px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Eurostile LT Std;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
